{% load static %}

<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="header">
    <div class="wrapper clearfix">
        <div id="logo">
            <a href="index.html"><img alt="LOGO" src="/static/images/logo.png"></a>
        </div>
        <ul id="navigation">
            <li class="selected">
                <a href="/home/">Home</a>
            </li>
            <li>
                <a href="/gallery/">Gallery</a>
            </li>
            <li>
                <a href="/about/">About</a>
            </li>
            <li>
                <a href="/contact/">Contact Us</a>
            </li>
        </ul>
    </div>
</div>
<div id="contents">
    <div class="wrapper clearfix" id="contact">
        <div id="sidebar">
            <ul>
                <li>
                    <a href="#"><img alt="Img" height="154" src="/static/images/earth-small.jpg"
                                             width="213"></a>
                </li>
                <li>
                    <a href="#"><img alt="Img" height="154" src="/static/images/spaceshuttle-closeup.jpg"
                                             width="213"></a>
                </li>
            </ul>
            <div class="click-here">
                <h1>Back to home!</h1>
                <a class="btn1" href="/">Click Here!</a>
            </div>
        </div>
        <div class="main">
            <h1>Contact Us</h1>
            <form action="home" method="post">
                <ul>
                    <li>
                        <label>Enter your full name here.</label>
                        <input onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}"
                               type="text"
                               value="Full Name">
                    </li>
                    <li>
                        <label>Enter your email address here.</label>
                        <input onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}"
                               type="text"
                               value="Email Address">
                    </li>
                    <li>
                        <label>Enter the Subject message here.</label>
                        <input onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}" onFocus="javascript:if(this.value==this.defaultValue){this.value='';}"
                               type="text"
                               value="Subject">
                    </li>
                    <li>
                        <label class="msg">Enter your Message here.</label>
                        <textarea onBlur="javascript:if(this.value==''){this.value=this.defaultValue;}"
                                  onFocus="javascript:if(this.value==this.defaultValue){this.value='';}">Message</textarea>
                        <div class="checkbox">
                            <label for="terms">
                                <input id="terms" type="checkbox">
                                I agree to the Terms and Conditions</label>
                            <br>
                            <label for="subscribe">
                                <input id="subscribe" type="checkbox">
                                Subscribe to newsletter</label>
                        </div>
                        <input class="btn3" type="submit" value="Send Now">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div id="footer">
    <div class="body">
        <div class="wrapper clearfix">
            <div id="links">
                <div>
                    <h4>Social</h4>
                    <ul>
                        <li>
                            <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank">Google +</a>
                        </li>
                        <li>
                            <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="http://freewebsitetemplates.com/go/youtube/" target="_blank">Youtube</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Heading placeholder</h4>
                    <ul>
                        <li>
                            <a href="index.html">Link Title 1</a>
                        </li>
                        <li>
                            <a href="index.html">Link Title 2</a>
                        </li>
                        <li>
                            <a href="index.html">Link Title 3</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="newsletter">
                <h4>Newsletter</h4>
                <p>
                    Sign up for Our Newsletter
                </p>
                <form action="index.html" method="post">
                    <input type="text" value="">
                    <input type="submit" value="Sign Up!">
                </form>
            </div>
            <p class="footnote">
                © Copyright © 2023.Company name all rights reserved
            </p>
        </div>
    </div>
</div>
</body>
</html>